.blogs{
    width: 100%;
    margin-top: 40px;
}

.blogs-content{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.blogs-hb{
    padding-left: 8%;

}

#blogs-hb-h{
    padding-left: 25px;
    border-left: solid 7px var(--primary-color);
    margin-bottom: 25px;
}

