.navbar{
    position: fixed;
    background-color: white;
    height: 90px;
    z-index: 2;
    width: 100%;
    border-bottom: solid 1px  #d3d3d3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.nav1{
    display: flex;
    justify-content: space-between;
    height: 25px;
    width: 100%;
    align-items: center;
    padding: 0 5%;
    background-color: var(--primary-color);
}

.nav1-p{
    color: white;
}

.nav2{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    align-items: center;
    padding:5px 5%;
}

#logo{
    width: 120px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.nav2-ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav2-ul-li{
    cursor: pointer;
    text-decoration: none; 
    color: inherit; 
}

.nav2-ul-li-active{
    cursor: pointer;
    text-decoration: none; 
    color: blue; 
}

#div-nav2-res-icon{
    display: none;
}


#nav2-but{
    width: 95px;
    height: 35px;
    border-radius: 15px;
    color: white;
    border: none;
    background-color: var(--secondary-color);
    cursor: pointer;
}




@media screen and (max-width: 780px) {

    .nav2{
        padding: 0 5%;
    }
    .nav2-ul{
        display: none;
    }

    .div-nav2-res{
        display: flex;
        gap: 15px;
        align-items: center;
    }

    #div-nav2-res-icon{
        display: inline;
    }

    .resp-nav2-elements{
        padding-top: 7%;
        padding-left: 5%;
        background-color: white;
        width: 80%;
        height: 100vh;
        position: fixed;
        z-index: 1555;
        transition: top 0.5s ease, opacity 0.5s ease; 
    }

    .resp-nav2-elements-person{
        display: flex;
        align-items: center;
        margin-bottom: 55px;
    }

    #resp-nav2-elements-person-icon{
        width: 40px;
        height: 40px;
        object-fit: cover;
        margin-right: 10px;
        cursor: pointer;
    }

    .resp-nav2-elements-person-text{
        color: grey;
    }
    

    .resp-nav2-ul{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .nav2-ul-li{
        font-size: 25px;
    }

    .nav2-ul-li-active{
        font-size: 25px;

    }

}

@media screen and (max-width: 620px){

    .navbar{
        height: 75px;
    }

    .nav1{
        display: none;
    }

    .nav2{
        height: 100%;
        padding: 10px 5%;
    }
}