.places{
    width: 100%;
}

.places-content{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.places-hb{
    padding-left: 8%;
    padding-top: 50px;
}

#places-hb-h{
    padding-left: 25px;
    border-left: solid 7px var(--primary-color);
    margin-bottom: 25px;
}

@media screen and (max-width: 780px) {

    .places-hb{
        padding-left: 3%;
        
    }

    .places-content{
       gap: 15px;
    }

}